html, body {
  height: 100%
}
body {
  font-family: 'Gentium Plus', Times, serif;
  background: #fff;
  color: #444;
  display: table;
  width: 100%;
}
#container {
  min-height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.dynamic_color {
  color: #a33e50;
}
.dynamic_color_background {
  background: #a33e50;
}

header {
  padding: 40px 20px 20px;
  text-align: center;
  font-size: 40px;
  line-height: 110%;
}
header img {
  width: 125px;
  height: 125px;
  display: block;
  margin: 0 auto -15px;
}
header h1 {
  font-weight: normal;
  margin: 20px 0 0;
  font-size: 40px;
  line-height: 40px;
}
header a {
  text-decoration: none;
}
header a:hover {
  text-decoration: underline;
}
header span {
  color: #a33e50;
  line-height: 110%;
}
span#handle {
  font-size: 250%;
  line-height: 90%;
}
span#yours_truly {
  font-size: 200%;
}
span#location {
  font-size: 150%;
}

#info{
  margin: 0 auto 40px;
  color: #fff;
  width: 380px;
  padding: 20px;
  font-size: 24px;
}
#info h3{
  padding-top: 20px;
  padding-bottom: 2px;
  color: rgba(255,255,255,0.75);
  font-size: 16px;
  font-weight: normal;
}
#info h3:first-child {
  padding-top: 0;
}
#info a{
  color: inherit;
  text-decoration: none
}
#info a:hover{
  text-decoration: underline
}
#info span, #info div.subtitle {
  font-size: 16px;
  color: rgba(255,255,255,0.75);
  padding-left: 0;
}
#info div.subtitle {
  font-style: italic;
  margin-top: -0.3em;
}
#info a + span {
  padding-left: 3px;
}
#info hr {
  display: none;
}
#info ul {
  list-style: none;
}
#info li.more {
  font-size: 16px;
  line-height: 24px;
  padding-top: 0.3em;
}
#peace {
  text-align: right;
  font-size: 14px;
  color: rgba(255,255,255,0.75);
  margin-top: 10px;
}

#back {
  text-align: center;
}

hr.post_separator {
  display: block;
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px auto;
  max-width: 200px;
}

article {
  padding: 20px;
  line-height: 150%;
  font-size: 18px;
  max-width: 670px;
  margin: 0 auto;
}
article p {
  margin: 0 0 1em;
  text-align: justify;
  text-justify: inter-word;
}
article ul {
  padding-left: 20px;
  margin: 0 0 1em;
}
article li {
  list-style: disc outside;
  margin: 0.25em 0;
}
article h1 {
  font-size: 200%;
  margin: 0 0 0.5em;
  font-weight: bold;
}
article h1 a {
  text-decoration: none;
  color: inherit;
}
article h1 a:hover {
  text-decoration: underline;
}
article h1 div.subtitle {
  margin-top: 0.5em;
  font-size: 18px;
  opacity: 75%;
  line-height: 125%;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}
article p.gallery img {
  max-width: 50%;
}
article img {
  max-width: 100%;
}
div.read_more{
  margin-bottom: 1em;
}
article div.posted_on {
  opacity: 75%;
}
article h2 {
  margin: 1em 0 0.5em;
  font-weight: bold;
}

@media (max-width: 979px) {
  header {
    font-size: 20px;
  }
  header img {
    height: 100px;
    width: 100px;
    margin-bottom: -5px;
  }
  span#handle {
    font-size: 250%;
    line-height: 100%;
  }
}

@media (max-width: 800px) {
  #container {
    vertical-align: top;
  }

  header {
    font-size: 20px;
    padding: 20px;
    line-height: 170%;
  }
  header img {
    margin-bottom: 5px;
  }
  header div {
    display: inline;
  }
  header h1 {
    font-size: 24px;
  }
  span#handle, span#yours_truly, span#location {
    font-size: 120%;
    line-height: inherit;
  }

  hr.post_separator {
    margin: 5px auto 10px;
  }
  article {
    font-size: 16px;
  }
  #info {
    margin: 0;
    width: auto;
    height: auto;
    font-size: 20px;
  }
  #info hr {
    display: block;
    border: 0;
    height: 1px;
    background: rgba(255,255,255,0.1);
    margin: 20px 0 0;
  }
  #info li {
    margin-top: 15px;
  }
  #info li.more {
    padding-top: 0;
  }
  #info span {
    display: block;
  }
  #info a + span {
    padding-left: 0;
  }
  #info br {
    display: none;
  }

  #back {
    padding: 10px 0;
  }
}
